* {
    box-sizing: border-box;
}

body {
    background-color:#B24742;
}

header {
    display:block;
    position: relative;
    width: 750px;
    margin: auto;
    text-align: center;
}

h1{
    font-family: 'Fredoka One', cursive;
    color: #EFBBB8;
    font-size: 3em;
}

h3 {
    font-family: 'Mansalva', cursive;
    color: #EFBBB8
}

section.game-info {
    position:absolute;
    left: 5%;
    top:15%;
}

button {
    font-family: 'Mansalva', cursive;
    font-size: 1em;
    background-color: #DDCAA1;
    color:#364156;
    border: 3px solid #DDCAA1;
    border-radius: 4px;

}

button:hover {
    background-color: #EFBBB8;
    border: 4px solid #DDCAA1;
}

section.game-holder {
    display: block;
    margin: 45px;
    text-align: center;
    position: relative;
    max-width: 750px;
    margin: auto;
}

/* div.card-holder {
    display: inline-block;
    position:relative;
    margin: 7px;
} */

img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 3px;
    box-sizing:border-box
}
.flipCard {
   width: 150px;
   height: 100px;
   position: relative;
   margin: auto;
   display: inline-block;
}
.flipCard .card.flipped {
  transform:rotatey(-180deg);
}
.flipCard .card {
  transform-style: preserve-3d;
  transition: .5s;
}
.flipCard .card .side {
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  backface-visibility: hidden;  /* W3C */
}

.flipCard .card .back {
  transform:rotatey(-180deg);
  z-index: 2;
}