* {
    box-sizing: border-box;
}

body {
    background-color:#B24742;
}

header {
    display:block;
    position: relative;
    width: 750px;
    margin: auto;
    text-align: center;
}

h1{
    font-family: 'Fredoka One', cursive;
    color: #EFBBB8;
    font-size: 3em;
}

h3, p, span {
    font-family: 'Mansalva', cursive;
    color: #EFBBB8;
    display: inline
}

button {
    font-family: 'Mansalva', cursive;
    font-size: 1em;
    background-color: #DDCAA1;
    color:#364156;
    border: 3px solid #DDCAA1;
    border-radius: 4px;

}

.game-info button {
    position:relative;
}

button:hover {
    background-color: #EFBBB8;
    border: 4px solid #DDCAA1;
    transition-duration: 0.4s;
}

section.game-holder {
    display: block;
    margin: 45px;
    text-align: center;
    position: relative;
    max-width: 800px;
    margin: auto;
}

section.game-info {
    display: block;
    position: relative;
    height: 60px;
    background-color: rgba(54, 65, 86, .5);
}

.scores {
    display:inline-block;
    /* width: 80%;
    margin: auto; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.scores div {
    display: inline-block;
    width: 300px;
    text-align: center;
}


img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 3px;
}
.flipCard {
   width: 150px;
   height: 100px;
   position: relative;
   margin: 3px;
   display: inline-block;
}
.flipCard .card.flipped {
  transform:rotatey(-180deg);
}
.flipCard .card {
  transform-style: preserve-3d;
  transition: .5s;
}
.flipCard .card .side {
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  backface-visibility: hidden; 
}

.flipCard .card .back {
  transform:rotatey(-180deg);
  z-index: 2;
}

.win h3, .win p {
    color: #212d40;
    font-size: 30px;
}

.win div {
    margin-top:35px;
    
}

.win-alert {
    display: none;
    position: fixed;
    z-index: 1;
    width: 600px;
    height: 400px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #efbbb8;
    border: 15px solid #364156;
    border-radius: 5px;
    text-align: center;
}

.close {
    float:right;
    color: #212d40;
    font-size: 35px;
    font-weight: bold;
    margin-right: 10px;
}

.alert-content {
    display: block;
    position:relative;

}