* {
    box-sizing: border-box;
}

body {
    background-color:#B24742;
}

header {
    display:block;
    position: relative;
    width: 750px;
    margin: auto;
    text-align: center;
    text-shadow: #364156 5px 5px 10px;
}

h1{
    font-family: 'Fredoka One', cursive;
    color: #EFBBB8;
    font-size: 3em;
}

h3, p, span {
    font-family: 'Mansalva', cursive;
    color: #EFBBB8;
    display: inline
}

button {
    font-family: 'Mansalva', cursive;
    font-size: 1em;
    background-color: #DDCAA1;
    color:#364156;
    border: 3px solid #DDCAA1;
    border-radius: 4px;

}

button:hover {
    background-color: #364156;
    border: 3px solid #364156;
    color: #DDCAA1;
    cursor: pointer;
    transition-duration: 0.4s;
}

button#new-game-win {
    font-family: 'Mansalva', cursive;
    font-size: 1em;
    position:relative;
    background-color: #364156;
    color: #DDCAA1;
    border: 6px solid #364156;
}

button#new-game-win:hover {
    background-color: #B24742;
    cursor: pointer;
    transition-duration: 0.4s;
    border: 6px solid #B24742;

}

section.game-holder {
    display: block;
    margin: 45px;
    text-align: center;
    position: relative;
    max-width: 800px;
    margin: auto;
}

section.game-info {
    display: block;
    position: relative;
    padding: 15px;
    background-color: rgba(54, 65, 86, .5);
    border: 3px solid #212d40;
    border-radius: 5px;
    margin-top: 10px;
}

.scores {
    display:flex;
    width: 100%;
    justify-content: space-around;    
}

.scores div {
    display: inline-block;
    text-align: center;
}


img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 3px;
}
.flipCard {
   width: 150px;
   height: 100px;
   position: relative;
   margin: 3px;
   display: inline-block;
}
.flipCard .card.flipped {
  transform:rotatey(-180deg);
}
.flipCard .card {
  transform-style: preserve-3d;
  transition: .5s;
}
.flipCard .card .side {
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  backface-visibility: hidden; 
}

.flipCard .card .back {
  transform:rotatey(-180deg);
  z-index: 2;
}

.win h3 {
    color: #212d40;
    font-size: 45px;
}
.win p {
    color: #212d40;
    font-size: 30px;
}

.win div {
    margin: 40px;
    
}

.win-alert {
    display:none;
    position: fixed;
    z-index: 1;
    width: 600px;
    height: 300px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #efbbb8;
    border: 15px solid #364156;
    border-radius: 5px;
    text-align: center;
    top:190px;
}

.close {
    float:right;
    color: #212d40;
    font-size: 35px;
    font-weight: bold;
    margin-right: 10px;
}
.close:hover {
    cursor: pointer;
}

.alert-content {
    display: block;
    position:relative;
}